In [1]:
import pandas as pd
from scipy.spatial.distance import cosine
from pandas.io.json import json_normalize #package for flattening json in pandas df
import json
import numpy as np
import matplotlib.pyplot as plt
import pandas_ml as pdml

In [2]:
#specify the file path
filename="D:/shopper reco/training_mixpanel.txt"

In [6]:
#open the file and load the json
with open(filename) as f:
    d = json.load(f)

In [7]:
#Normalise the json to generate the required columns
data = json_normalize(d)
data.head(3)

,event,properties.country,properties.customer_id,properties.description,properties.invoice_date,properties.invoice_no,properties.product_id,properties.quantity,properties.unit_price
0,Purchased Product,United Kingdom,17850,WHITE HANGING HEART T-LIGHT HOLDER,12/1/2010 8:26,536365,85123A,6,2.55
1,Purchased Product,United Kingdom,17850,WHITE METAL LANTERN,12/1/2010 8:26,536365,71053,6,3.39
2,Purchased Product,United Kingdom,17850,SET 7 BABUSHKA NESTING BOXES,12/1/2010 8:26,536365,22752,2,7.65

In [10]:
data.columns=['event','country','customer_id','description','invoice_date','invoice_no','product_id','quantity','unit_price']

In [11]:
#calcualte the total sales value for each event
data['sales']=data['quantity']*data['unit_price']

In [49]:
#calculate the aggregate sales  for each product customer and country and the number of products bought by each customer
grpdata=data.groupby(['customer_id','product_id','country'])['sales'].agg(['mean', 'count'])

In [50]:
grpdata=grpdata.reset_index()

grpdata

        customer_id product_id         country       mean  count
0             12346      23166  United Kingdom   0.000000      2
1             12347      16008         Iceland   6.000000      1
2             12347      17021         Iceland  10.800000      1
3             12347      20665         Iceland  17.700000      1
4             12347      20719         Iceland   8.500000      4
5             12347      20780         Iceland  55.800000      1
6             12347      20782         Iceland  32.940000      1
7             12347      20966         Iceland  12.500000      1
8             12347      21035         Iceland  17.700000      1
9             12347      21041         Iceland  17.700000      2
10            12347      21064         Iceland  32.850000      2
11            12347      21154         Iceland  12.500000      1
12            12347      21171         Iceland  17.400000      1
13            12347      21265         Iceland  23.400000      2
14            12347      21578         Iceland  13.500000      1
15            12347      21636         Iceland   9.000000      1
16            12347      21731         Iceland  23.760000      5
17            12347      21791         Iceland  20.000000      3
18            12347      21832         Iceland  19.800000      1
19            12347      21975         Iceland  13.200000      2
20            12347      21976         Iceland  13.200000      2
21            12347      22131         Iceland  11.700000      1
22            12347      22134         Iceland   5.040000      1
23            12347      22195         Iceland  26.400000      3
24            12347      22196         Iceland  15.300000      4
25            12347      22212         Iceland  12.600000      1
26            12347      22252         Iceland  15.000000      1
27            12347      22371         Iceland  33.100000      4
28            12347      22372         Iceland  17.000000      2
29            12347      22374         Iceland  22.666667      3
...             ...        ...             ...        ...    ...
213637        18287      22603  United Kingdom  20.400000      1
213638        18287      22644  United Kingdom  17.400000      1
213639        18287      22752  United Kingdom  34.000000      1
213640        18287      22753  United Kingdom  10.200000      1
213641        18287      22754  United Kingdom  10.200000      1
213642        18287      22755  United Kingdom  10.200000      1
213643        18287      22756  United Kingdom  15.000000      1
213644        18287      22758  United Kingdom  15.000000      1
213645        18287      22807  United Kingdom  17.700000      1
213646        18287      22865  United Kingdom  25.200000      1
213647        18287      22866  United Kingdom  25.200000      1
213648        18287      23076  United Kingdom  30.000000      2
213649        18287      23078  United Kingdom  30.000000      2
213650        18287      23223  United Kingdom  39.840000      1
213651        18287      23264  United Kingdom  30.000000      2
213652        18287      23267  United Kingdom  30.000000      1
213653        18287      23269  United Kingdom  52.200000      1
213654        18287      23272  United Kingdom  19.800000      1
213655        18287      23376  United Kingdom  18.720000      1
213656        18287      23378  United Kingdom   9.360000      1
213657        18287      23445  United Kingdom  16.600000      1
213658        18287      35967  United Kingdom  13.680000      1
213659        18287      47422  United Kingdom  10.080000      1
213660        18287     72349B  United Kingdom  53.160000      2
213661        18287     72351A  United Kingdom  50.400000      1
213662        18287     84507C  United Kingdom  15.300000      1
213663        18287      84584  United Kingdom  15.300000      1
213664        18287      84920  United Kingdom  15.000000      1
213665        18287     85039A  United Kingdom  69.600000      2
213666        18287     85040A  United Kingdom  39.600000      2

[213667 rows x 5 columns]

In this use case we have to predict the likelihood of customer going to buy a product. Since the current data is about purchases already made, we have to predict the propensity of the next purchase of the same product by a given customer. We cannot predict the likehood of purchase which a customer has never purchased based on the dataset provided. So this weill be a use case of predicting the propensity of next purchase

Next we generate a target variable which will tell us whether a customer is likely to purchase again or not. So if a customer has bought more than 1 product ,he is like to buy another product again ,So we can use this to generate a target variable where if a person has a count of purchase more than 1 he is like to purchase that product again otherwise he will not purchase again ,Our likelihood to buy score will be based on this target vaiable. We will use the mean sales, the count of sales and the country as the dependent variable

In [51]:
grpdata['target'] = np.where(grpdata['count']>1, 1, 0)
target=grpdata['target'] 
features=grpdata.iloc[:,3:5]
#Lets use one hot encoding to convert categorical variables to one hot
from sklearn.preprocessing import LabelBinarizer
# Create LabelBinzarizer object
one_hot = LabelBinarizer()
country=pd.get_dummies(grpdata['country'])
newfeatures=pd.concat([features,country],axis=1)
newfeatures

,mean,count,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
0,0.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,17.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8.500000,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,55.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,32.940000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,12.500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,17.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,17.700000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,32.850000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12.500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,17.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,23.400000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,13.500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,9.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,23.760000,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,20.000000,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,13.200000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,13.200000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,11.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,5.040000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,26.400000,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,15.300000,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,12.600000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,33.100000,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,17.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,22.666667,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213637,20.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213638,17.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213639,34.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213640,10.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213641,10.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213642,10.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213643,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213644,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213645,17.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213646,25.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213647,25.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213648,30.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213649,30.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213650,39.840000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213651,30.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213652,30.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213653,52.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213654,19.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213655,18.720000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213656,9.360000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213657,16.600000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213658,13.680000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213659,10.080000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213660,53.160000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213661,50.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213662,15.300000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213663,15.300000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213664,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213665,69.600000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213666,39.600000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

#Data needs to be balanced since we have a high proportion of 0's we are balancing the data to have equal proportion of0's and 1.We will Use SMOTE to balance the data

In [82]:
df = pdml.ModelFrame(newfeatures,target=target)
df
df.target.value_counts()
sampler = df.imbalance.over_sampling.SMOTE()
sampled = df.fit_sample(sampler)

Use the SMOTE sampled dataset to seperate out the target variables and the indpendent variable

In [83]:
sampled
sampledframe=pd.DataFrame(sampled)
features=sampledframe.iloc[:,1:40]
target=sampledframe.iloc[:,0]
features

,mean,count,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
0,0.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,6.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10.800000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17.700000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8.500000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,55.800000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,32.940000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,12.500000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,17.700000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,17.700000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,32.850000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,12.500000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,17.400000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,23.400000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,13.500000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,9.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,23.760000,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,20.000000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,19.800000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,13.200000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,13.200000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,11.700000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,5.040000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,26.400000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,15.300000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,12.600000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,15.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,33.100000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,17.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,22.666667,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318406,9.375000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318407,33.403782,2.111195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
318408,16.500000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318409,9.375000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318410,0.000000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318411,0.850000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318412,0.910649,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318413,2.970000,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318414,6.883333,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318415,16.500000,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318416,17.700000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318417,12.750000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318418,2.500000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318419,17.700000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318420,4.250000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318421,4.620000,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318422,3.125000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318423,30.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318424,4.200000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318425,37.440000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318426,16.324159,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
318427,19.800000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318428,1.650000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318429,15.465201,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318430,7.598837,10.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318431,5.900000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318432,0.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318433,13.188445,14.069486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318434,9.833333,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
318435,21.000000,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0


#Now we have a binary clasiifier for each product and customer id combination. We will use classification algorithms to generate the likelihood of customer buying the product again.

Lets first use kneighbours

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.5)
neigh = KNeighborsRegressor(n_neighbors=3)
# classifications
neighfit=neigh.fit(X_train,y_train) 


predictions=neighfit.predict(X_test)
y_test.values

array([0, 1, 0, ..., 0, 0, 0])

In [58]:
predictions=np.array(predictions)
predictions=predictions.astype(int)

In [59]:
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(predictions,y_test.values)             
metrics.auc(fpr, tpr)

0.99881240269544991

Lets try logistic regression

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.5)
logistic = linear_model.LogisticRegression()
# classifications
logfit=logistic.fit(X_train,y_train) 

logpredictions=logfit.predict(X_test)
y_test.values

array([0, 1, 0, ..., 1, 1, 0])

In [87]:
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(logpredictions,y_test.values)             
metrics.auc(fpr, tpr)

1.0

Lets try random forest

In [88]:
from sklearn.ensemble import RandomForestClassifier
rffit=RandomForestClassifier(max_depth=2, random_state=0)
# classifications
rffit=rffit.fit(X_train,y_train) 

rfpredictions=rffit.predict(X_test)
y_test.values

array([0, 1, 0, ..., 1, 1, 0])

In [89]:
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(rfpredictions,y_test.values)             
metrics.auc(fpr, tpr)

0.99998737979252372

In [91]:
newfeatures

,mean,count,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
0,0.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,17.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8.500000,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,55.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,32.940000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,12.500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,17.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,17.700000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,32.850000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12.500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,17.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,23.400000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,13.500000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,9.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,23.760000,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,20.000000,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,13.200000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,13.200000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,11.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,5.040000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,26.400000,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,15.300000,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,12.600000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,33.100000,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,17.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,22.666667,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213637,20.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213638,17.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213639,34.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213640,10.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213641,10.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213642,10.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213643,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213644,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213645,17.700000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213646,25.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213647,25.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213648,30.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213649,30.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213650,39.840000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213651,30.000000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213652,30.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213653,52.200000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213654,19.800000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213655,18.720000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213656,9.360000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213657,16.600000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213658,13.680000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213659,10.080000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213660,53.160000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213661,50.400000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213662,15.300000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213663,15.300000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213664,15.000000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213665,69.600000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
213666,39.600000,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

#We are getting good area under the curve for both Logistic regression and Random forest. Since random forest is an ensemble method we will use random forest for final predictions

In [93]:

finalpredictions=rffit.predict_proba(newfeatures)
finalpredictions=pd.DataFrame(finalpredictions[:,1])
finalpredictions=pd.concat([grpdata.iloc[:,0:3],finalpredictions],axis=1)
finalpredictions

        customer_id product_id         country         0
0             12346      23166  United Kingdom  0.589258
1             12347      16008         Iceland  0.389258
2             12347      17021         Iceland  0.389258
3             12347      20665         Iceland  0.389258
4             12347      20719         Iceland  0.589258
5             12347      20780         Iceland  0.369559
6             12347      20782         Iceland  0.369559
7             12347      20966         Iceland  0.389258
8             12347      21035         Iceland  0.389258
9             12347      21041         Iceland  0.589258
10            12347      21064         Iceland  0.669559
11            12347      21154         Iceland  0.389258
12            12347      21171         Iceland  0.389258
13            12347      21265         Iceland  0.669559
14            12347      21578         Iceland  0.389258
15            12347      21636         Iceland  0.389258
16            12347      21731         Iceland  0.669559
17            12347      21791         Iceland  0.589258
18            12347      21832         Iceland  0.389258
19            12347      21975         Iceland  0.589258
20            12347      21976         Iceland  0.589258
21            12347      22131         Iceland  0.389258
22            12347      22134         Iceland  0.389258
23            12347      22195         Iceland  0.669559
24            12347      22196         Iceland  0.589258
25            12347      22212         Iceland  0.389258
26            12347      22252         Iceland  0.389258
27            12347      22371         Iceland  0.669559
28            12347      22372         Iceland  0.589258
29            12347      22374         Iceland  0.669559
...             ...        ...             ...       ...
213637        18287      22603  United Kingdom  0.389258
213638        18287      22644  United Kingdom  0.389258
213639        18287      22752  United Kingdom  0.369559
213640        18287      22753  United Kingdom  0.389258
213641        18287      22754  United Kingdom  0.389258
213642        18287      22755  United Kingdom  0.389258
213643        18287      22756  United Kingdom  0.389258
213644        18287      22758  United Kingdom  0.389258
213645        18287      22807  United Kingdom  0.389258
213646        18287      22865  United Kingdom  0.369559
213647        18287      22866  United Kingdom  0.369559
213648        18287      23076  United Kingdom  0.669559
213649        18287      23078  United Kingdom  0.669559
213650        18287      23223  United Kingdom  0.369559
213651        18287      23264  United Kingdom  0.669559
213652        18287      23267  United Kingdom  0.369559
213653        18287      23269  United Kingdom  0.369559
213654        18287      23272  United Kingdom  0.389258
213655        18287      23376  United Kingdom  0.389258
213656        18287      23378  United Kingdom  0.389258
213657        18287      23445  United Kingdom  0.389258
213658        18287      35967  United Kingdom  0.389258
213659        18287      47422  United Kingdom  0.389258
213660        18287     72349B  United Kingdom  0.669559
213661        18287     72351A  United Kingdom  0.369559
213662        18287     84507C  United Kingdom  0.389258
213663        18287      84584  United Kingdom  0.389258
213664        18287      84920  United Kingdom  0.389258
213665        18287     85039A  United Kingdom  0.669559
213666        18287     85040A  United Kingdom  0.669559

[213667 rows x 4 columns]

In [94]:
finalpredictions.columns=['customer_id','product_id','country','repurchasepropensity']
finalpredictions.to_csv('D:/shopper reco/finalrecommendations.csv')

In [43]:
finalpredictions.values

array([[12346, '23166', 'United Kingdom', 0.5922535938979155],
       [12347, '16008', 'Iceland', 0.3922535938979156],
       [12347, '17021', 'Iceland', 0.3922535938979156],
       ...,
       [18287, '84920', 'United Kingdom', 0.3922535938979156],
       [18287, '85039A', 'United Kingdom', 0.6715855566802963],
       [18287, '85040A', 'United Kingdom', 0.6715855566802963]], dtype=object)